body {
	user-select: none;
}

section.left, section.right {
	width: 70%;
	float: left;
	
	background-color: bisque;
	font-size: 16px;
	text-align: center;
	height: 400px;
	line-height: 400px;
	border: 1px solid lightgrey;
	border-radius: 12px;
}

section.right {
	width: 25%;
	float: right;
}