* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: rgb(195, 195, 195);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px
}

section.content-box {
	/*display: flex;
	justify-content: space-between;*/
	padding: 25px 25px 25px 10px;
}

section.content-panel {
	background-color: white;
	border: 1px solid rgb(200, 200, 200);
	border-radius: 8px;
}

section.main-panel {
	width: 70%;
	float: left;
}

section.side-panel {
	width: 25%;
	float: right;
}

section.main-panel-search-bar {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 65px;
	padding: 20px;
}

section.main-panel-search-bar > input, section.main-panel-search-bar > button {
	width: 80%;
	height: 100%;
	box-sizing: border-box;
	font-size: 1.4rem;
	border: 1.5px solid rgb(212, 212, 212);
}

section.main-panel-search-bar > button {
	width: 20%;
	border: 1.5px outset #0070b6;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	background-color: #0e90e1;
	color: whitesmoke;
	font-weight: 700;
}

section.main-panel-search-bar > button:hover {
	background-color: #0867a3;
	transition: 0.5s ease-in-out all;
}

section.main-panel-search-bar > button:active {
	border: 1.5px inset rgb(212, 212, 212);
	background-color: rgb(212, 212, 212);
	color: black;
	transition: 0.15s ease-out all;
}

section.main-panel-search-bar > input {
	padding-left: 20px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

section.main-panel-search-bar > input:focus {
	outline-color: rgb(128, 128, 128);
}

section.main-panel > .item {
	border-top: 1.5px solid rgb(212, 212, 212);
	height: 60px;
}